.card2{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px  hsla(0,0%,0%,0.1);
    padding: 30px;
    margin: 10px;
    text-align: center;
    max-width: 260px;
    display: inline-block;
    height: 400px;
}

.card2:hover{
    font-size: larger;
    background-color: rgb(119, 225, 190) ;
    color: aliceblue;
}



